@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');


:root{
    --green:#48c859;
    --black:#13214a;
    --light-color:rgb(55, 55, 55);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:#13214a;
}

.heading span{
    background: var(--green);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#13214a;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#fff;
}

.header .logo i{
    color:#48c859;
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:#fff;
}

.header .navbar a:hover{
    color:#48c859;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: #48c859;
    color:#fff;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:110%; right:-110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black);
    padding:0 1.5rem;
}
.header .login-form{
    position: absolute;
    top:110%; right:-110%;
    width:35rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding:.5rem 0;
    color:var(--light-color);
}

.header .login-form p a{
    color:var(--green);
    text-decoration: underline;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/backgroundimg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color:var(--black);
    font-size: 5rem;
}

.home .content h3 span{
    color:var(--green);
}

.home .content p{
    color:gray;
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}

.recipes{
    margin-top: 10vh;
    margin-bottom:10vh; ;
}
.recipes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.recipes .box-container .box{
    padding:3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.recipes .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.recipes .box-container .box img{
    margin:0.5rem 0 ;
    height: 28rem;
    align-items: center;
}

.recipes .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.2;
    color:var(--black);
}

.recipes .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.4;
    color:black;
    padding:1rem 0;
}

.banner{
    display:flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: right;
    background-image: url(img/banner.png);
    width: 100%;
    height:45vh;
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
    
}
.banner h3{
    color: #13214a;
    font-size: 46px;
    margin-top: 7rem;
}
.banner h3 span{
    color:#48c859;
}
.banner h3 span:hover{
    text-decoration: underline;
}
.banner p{
    font-size: 18px;
    color: rgb(49, 49, 49);
    
}

.indianrecipes{
    margin-top: 10vh;
}
.indianrecipes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.indianrecipes .box-container .box{
    padding:3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.indianrecipes .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.indianrecipes .box-container .box img{
    margin:0.5rem 0 ;
    height: 28rem;
    align-items: center;
}

.indianrecipes .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.2;
    color:var(--black);
}

.indianrecipes .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.4;
    color:black;
    padding:1rem 0;
}
.weekheading h3{
    font-size: 3rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin-top: 15vh;
  }
  
.weekplan {
    display: flex;
    justify-content: space-between;
    margin-right: 10vh;
    margin-left: 10vh;
    margin-top: 5vh;
    margin-bottom: 15vh;
  }
 
  .weekplan figure {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 25vh;
    height: 25vh;
    margin: 0;
    font-style: bold; 
    font-style: oblique;
    text-shadow: #666;
    color: #13214a;
    font-size: 2.2rem;
    float: center;

  }
  
  .weekplan figure * {
    width: 100%;
  }
  .weekplan figure img:hover{
    transform: scale(1.5);
  }
  .weekplan figure figcaption:hover{
    text-decoration: underline;
    color: rgb(3, 136, 136); 
  }

  .imgbanner{
    margin-bottom: 3rem;
  }
  .imgbanner .imagebox {
    width: 50%;
    float: left;
    margin-bottom: 12rem;
    
  }
  
  .imgbanner .textbox {
    width: 50%;
    float: right;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: #13214a;
    text-align-last: left;
  }
  .imgbanner .textbox p{
    font-size: 18px;
  }
  .imgbanner .textbox h3{
    font-size: 30px;
    color: #349441;
  }


/* Slideshow container */
.slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
  
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 70%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
 
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  

.space {
    padding-bottom: 20rem;
}




.footer{
    background: #48c859;
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--green);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color:var(--black);
}


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }

}